.section{
    height: 100vh;
  
}
.container{
    height: 100vh;
    width: 100%;
    background: #000000;
    background: -moz-linear-gradient(top, #000000 0%, #000000 80%, #0F0F11 100%);
    background: -webkit-linear-gradient(top, #000000 0%, #000000 80%, #0F0F11 100%);
    background: linear-gradient(to bottom, #000000 0%, #000000 80%, #0F0F11 100%);
    }

.title{
        font-size: 2.5rem;
        font-weight: bold;
        color: #1BD682;
        text-align: center;
        
        text-align: center;
        justify-content: center;
        position: relative;
        top: 50px;   
        
    
}
.mouseScroll{
    width: 2.1em;
    height: 4em;
    border: solid 2px #fff;
    border-radius: 30px;
    position: relative;
    margin-top: -30px;
    margin-left: 50%;
}

.mouseScroll::before{
    content: "";
    width: 0.8em;
    height: 0.8em;
    left: 14px;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50%);
    animation: scroll 1.5s infinite;
    background-color: #fff;

}
.arrowScroll{
    position: relative;
    height: 4em;
}

@keyframes scroll{
    0%{
        bottom: 80%;
        opacity: 1;
    }
  
    100%{
        bottom: 20%;
        opacity: 0;
    }
}
@media screen and (max-width : 1366px){
    .mouseScroll{
        display: none;
    }
    
}
@media screen and (max-width:768px){
    .carru{
        position: relative;
       margin-left: 50%;
    }
    .mouseScroll{
        display: none;
    }
}