.container{
    width: 100%;
      height: 5vh;
      background-color: #000000c5;
      display: flex;
      align-items: center;
      position: fixed;
      z-index: 100000000;
      top: 0px;
  }
  .botones{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin-right: 50px;
    align-items: center;
    width: 100%;
    height: 100%;
   
    
  }
  
   .links {
     margin-right: 1.2rem;
     cursor: pointer;
     font-family: monospace;
     font-size: 1.4rem;
     font-weight: bold;
     padding-right: 15px;
     color: white;
   }

   .links:hover{
     color: #b6bdba;
  } 
    .selectedLink {
      cursor: pointer;
      font-family: monospace;
      font-size: 1.4rem;
      font-weight: bold;
      padding-right: 15px;
      color: #1BD682
    }
  
