.section{
	max-width: 100vw;
height: 100vh;
}


.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
    height: 80vh;
    width: 80vw;
    margin-top: 50px;
    margin-left: -180px;
}

.slide {
	max-width: 100%;
	opacity: 0;
	transition: opacity 0.75s ease-in-out;
}

.slide.active {
	opacity: 1;
}

.imgC{
	border: 2px solid #1BD682;
	border-radius: 50px;
	
}

.img{
	height: 28vmin;
    width: 28vmin;
	background-color: rgba(131, 130, 130, 0.199);
	border-radius: 50px;
	margin-bottom: -5px;
}

.imgC:hover{
	border: 2px solid rgb(23, 129, 122);
	transition: 300ms;
	opacity: 0.8;
}

.btn{
	border: 2px solid #1BD682;
	padding: 1vmin;
	position: relative;
	margin: 3vmin;
	color: white;
	background-color: transparent;
}

.btn:hover{
	border: 2px solid rgb(23, 129, 122);
    position: relative;
    top: -2px;
    box-shadow: 0px 4px 4px 0px #1BD682;
    transition: 300ms;
	cursor:pointer;
}

.text{
	position: absolute;
/* 	width: 70vmin; */
    margin-top:50px; 
	/* margin-left: 37%; */
	margin-left: 25%;
	width: 550px;
}

.name{
	font-size: 4vmin;
	margin-bottom: 2vmin;
	color: white;
}

.description{
	color: white;
	
	font-size: 3vmin;
	opacity: 0.8;
	font-size: 22px;
	/* right: 50px; */
    /* position:sticky */
}
@media screen and (max-width:768px){
	.contenedor{
		display: flex;
		flex-direction: column;
		margin-top: -40%;
	}
	.mobile{
		
		flex-direction: column;
		
	}
	.btn{
		margin-top: -80%;
		
	}
	.imgC{
		width: 200px;
		height: 200px;
		margin-top: -80%;
		margin-left: 0px;	
	}
	.img{
		width: 200px;
		height: 200px;
	
	}
	.text h2{
		font-size: 25px;
		margin-top: 50px;
		margin-left: -50px;	
	}
	.text p{
		font-size: 20px;
		margin-left: -50px;	

	}
	.description{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 2vmin;
		width: 300px;
			
	}
}