.container {
	/* width: 100%; */
	/* height: 100%; */
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.slide {
	max-width: 100%;
	height: auto;
	opacity: 1;
	transition:  0.5s ease-in-out;
}



.imgC{
	/* overflow:hidden; */
	width: 60vw;
	height: 70vh;
	/* border: 2px solid #1BD682; */
	border-radius: 5vmin;
	text-align: center;
	margin-top: 10%;
}

.img{
	width: 60vw;
	height: 70vh;
	display: flex;
	border: 4px solid #1BD682;
	/* max-height: 30vmin; */
}



.btn{
	border: 2px solid #1BD682;
	padding: 1vmin;
	position: relative;
	/* margin: 3vmin; */
	margin-right: 10px;
	margin-left: 10px;
	background-color: transparent;
	color: white;
}

.btn:hover{
	border: 2px solid #1BD682;
    position: relative;
    top: -2px;
    box-shadow: 0px 4px 4px 0px #1BD682;
    transition: 300ms;
	cursor:pointer;
}

.text{
	position: absolute;
	width: 70vmin;
    margin: 1vmin;
	left:105vmin;
}

.name{
	font-size: 4vmin;
	margin-bottom: 2vmin;
	color: white;
}

.description{
	color: white;
	position: absolute;
	font-size: 3vmin;
	opacity: 0.8;
	/* right: 50px; */
    /* position:sticky */
}
@media screen and (max-width:768px){
	.imgC{
		width: 250px;
		height: 250px;
	}
	.img{
		width: 100vw;
		height: 100vh;
	}
	.text{
		left:50vw;
	}
	.description{
		font-size: 2vmin;
		left:50vw;
	}

}